<div class="home__container">
  <app-card gameType="DIGITAL PS4" gamePrice="R$ 129,99" gameLabel="Digital" gameCover="assets/bt-1.jpg"></app-card>
  <app-card gameLabel="BEST OF YEAR" gameType="DIGITAL PS5" gamePrice="R$ 299,99" gameCover="assets/bt-4.jpg"></app-card>
  <app-card gameType="DISC PS5" gamePrice="R$ 269,99" gameLabel="Exclusive" gameCover="assets/ac-cover.jpg"></app-card>
  <app-card gameType="DIGITAL PS5" gamePrice="R$ 369,99" gameLabel="New" gameCover="assets/bt-hardline.jpg"></app-card>
</div>
